.Layout {
    height: 100vh;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

.Layout main {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    height: auto;
}

/*-----------------------*/
.header{
    display: flex;
    width: 100%;
    min-height: 50px;
    height: 3.5rem;
    background-color: #1e1e1e;
    padding: 0 5.5rem;

}

/*-----------------------*/
.logo {
    margin: auto 0;
    color: white;
    text-transform: uppercase;
    font-size: 1.6em;
    cursor: pointer;
}
/* -----------------------  */
.links {
    text-transform: uppercase;
    margin: auto;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    float: left;
}
li a {
    margin: 0 30px;
}

/* -----------------------  */

.exit Button span{
    color: white;
}

