.add-book-container {
    width: 60%;
    margin: 0 auto;
}

.add-book-form-btn {
    padding: 7px;
    border: 1px solid #001529;
    background-color: #001529;
    color: aliceblue;
    font-weight: 500;
    margin-top: 2rem !important;
}