.Auth {
    display: flex;
    justify-content: center;
    padding-top: 2rem;
    flex-grow: 1;
    width: 100%;
    height: 100vh;
}

.Auth > div {
    width: 100%;
    max-width: 600px;
    padding: 20px 20px;
}

.Auth form {
    padding: 5px 10px;
    width: 25rem;
    margin: 0 auto;
}

.Auth h1 {
    text-align: center;
    font-size: 1.85em;
    text-transform: uppercase;
    margin: 0;
}

.Auth Button {
    width: 100%;
    justify-content: center;
    background-color: #4b6eb9;
    border-radius: 0.1rem;
    font-weight: 500;
}

.Auth Button:hover {
    background-color: #fff;
    color: #4b6eb9;
    border: 1px solid #4b6eb9;
}

.error {
    color: #E63246;
    font-size: 12px;
    font-weight: lighter;
}
